 # <font color='red'>GPU Seeting</font>

In [1]:
# gpu number setting
import os
os.environ['CUDA_DEVICE_ORDER'] = 'PCI_BUS_ID'
os.environ["CUDA_VISIBLE_DEVICES"] = '1'

# Gpu growth setting
import tensorflow as tf
config = tf.compat.v1.ConfigProto()
config.gpu_options.allow_growth = True
session = tf.compat.v1.Session(config=config)


# tensorflow & keras version check
print('tensorflow version : ' , tf.__version__)
print('keras version : ' , tf.keras.__version__)

# tensorflow gpu available check 
print('GPU available ? : ', tf.test.is_gpu_available(cuda_only=False, min_cuda_compute_capability=None))

tensorflow version :  2.3.1
keras version :  2.4.0
WARNING:tensorflow:From <ipython-input-1-a141e1751472>:18: is_gpu_available (from tensorflow.python.framework.test_util) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.list_physical_devices('GPU')` instead.
GPU available ? :  True

 # <font color='red'>Import</font>

In [2]:
import pickle
import tqdm
import math
import itertools
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

import matplotlib.pyplot as plt
pd.options.display.max_columns = 50

from sklearn.metrics import log_loss, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, MultiLabelBinarizer

from deepctr.models import DeepFM
from deepctr.layers import custom_objects
from deepctr.feature_column import SparseFeat,DenseFeat, get_feature_names, VarLenSparseFeat

# 경로설정

In [3]:
root_path = '../../model/said_albumid_onlineNegative/case1_re2/100_epochs_01_negative/'

# model_weight_dir = os.path.join(root_path, 'model_weight')
rec_list_dir = os.path.join(root_path, 'rec_list')

# model weight save path
# if not os.path.exists(model_weight_dir) :
#     os.makedirs(model_weight_dir)

# rec_list_dir save path
if not os.path.exists(rec_list_dir) :
    os.makedirs(rec_list_dir)

WARNING:root:
DeepCTR version 0.8.3 detected. Your version is 0.8.2.
Use `pip install -U deepctr` to upgrade.Changelog: https://github.com/shenweichen/DeepCTR/releases/tag/v0.8.3

 # <font color='red'>데이터</font>

# history

In [4]:
data = pd.read_csv('../../../Data/movie_201130_table_3_4_5.csv')

/home/ubuntu/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data = data[['sa_id', 'album_id']]

In [6]:
# 데이터 type 변경
data['sa_id'] = data['sa_id'].astype(str, copy=True)
data['album_id'] = data['album_id'].astype(str, copy=True)

# <font color='red'>label encoding </font>

In [7]:
with open('../../model/said_albumid_onlineNegative/case1/lbe_dict.pickle', 'rb') as f:
    lbe_dict = pickle.load(f)

In [8]:
lbe_sa_id = lbe_dict['sa_id']
data['sa_id'] = lbe_sa_id.fit_transform(data['sa_id'])

lbe_album_id = lbe_dict['album_id']
data['album_id'] = lbe_album_id.fit_transform(data['album_id'])

In [9]:
data['label'] = 1

In [10]:
model_pred_dir = '../../model/said_albumid_onlineNegative/case1_re2/100_epochs_01_negative/rec_list/'

In [11]:
with open(os.path.join(model_pred_dir,'unique_uid.csv'),'a') as out_file:
    np.savetxt(out_file, np.vstack((lbe_sa_id.classes_,list(range(len(lbe_sa_id.classes_))))).T, delimiter=',', fmt=['%s','%i'])        

with open(os.path.join(model_pred_dir,'unique_sid.csv'),'a') as out_file:
    np.savetxt(out_file, np.vstack((lbe_album_id.classes_,list(range(len(lbe_album_id.classes_))))).T, delimiter=',', fmt=['%s','%i'])

In [10]:
sparse_features = ['sa_id', 'album_id']

In [11]:
# target 변수 설정
target = ['label']

# train _ val split

In [12]:
# 2.count #unique features for each sparse field
fixlen_feature_columns = [SparseFeat(feat, data[feat].nunique(),embedding_dim=4) for feat in sparse_features]
    
linear_feature_columns = fixlen_feature_columns
dnn_feature_columns = fixlen_feature_columns

feature_names = get_feature_names(linear_feature_columns + dnn_feature_columns)

In [13]:
# 3.generate input data for model
train, test = train_test_split(data, test_size=0.2, random_state=2020)
train_model_input = {name:train[name].values for name in feature_names}
test_model_input = {name:test[name].values for name in feature_names}

In [14]:
data

            sa_id  album_id  label
0               0      9174      1
1              22      9174      1
2              57      9174      1
3              68      9174      1
4             319      9174      1
...           ...       ...    ...
14474135  1440396      4981      1
14474136  1451039      9856      1
14474137  1458276      2732      1
14474138  1479713      7452      1
14474139  1546468      1724      1

[14474140 rows x 3 columns]

In [15]:
train

            sa_id  album_id  label
13519466   236442      6330      1
11438946  1128523      4606      1
14009964  1277456       439      1
3627469   1052421      5931      1
13327306  1101746     10820      1
...           ...       ...    ...
8302275     66857      8901      1
1948278    292905      9604      1
9870659   1328668      1434      1
1765768   1211721     10592      1
8168288    549391     10370      1

[11579312 rows x 3 columns]

In [16]:
test

            sa_id  album_id  label
1088589    596459     10834      1
5962237    451613      3538      1
8947008     13932      6247      1
5162339   1322962      5966      1
444339    1237649     11451      1
...           ...       ...    ...
1156361   1511902     10834      1
12705458   634308       781      1
8057638    573461      1940      1
3145923    220147      1321      1
6349298    138940      7592      1

[2894828 rows x 3 columns]

In [17]:
train_model_input

{'sa_id': array([ 236442, 1128523, 1277456, ..., 1328668, 1211721,  549391]),
 'album_id': array([ 6330,  4606,   439, ...,  1434, 10592, 10370])}

# model load

In [16]:
# 4.Define Model,train,predict and evaluate
model = tf.keras.models.load_model('../../model/said_albumid_onlineNegative/case1_re2/100_epochs_01_negative/', custom_objects)

# Prediction

In [17]:
nsa_id = train['sa_id'].nunique()
nalbum_id = train['album_id'].nunique()
album_array = np.sort(train['album_id'].unique())
topk = 300

In [18]:
def batch_user(num_users, batch_size=1):
    user_list = np.sort(train['sa_id'].unique())
    for idx in np.arange(0, num_users, batch_size):
        yield user_list[idx : min(idx + batch_size, num_users)]

In [19]:
with open('../../model/said_albumid_onlineNegative/case1_re2/100_epochs_01_negative/rec_list/rec.csv','a') as out_file:
    with tqdm.tqdm(total=math.ceil(nsa_id/300)) as pbar:
        for batch_u in batch_user(nsa_id, 300):
            temp_batch_sa = np.repeat(batch_u, nalbum_id)
            temp_batch_album = np.tile(album_array, len(batch_u))
            
            temp_batch_input = {'sa_id' : temp_batch_sa, 'album_id' : temp_batch_album}
            
            #pred = model.predict_on_batch(temp_batch_input)
            pred = model(temp_batch_input).numpy()
            pred_mat = pred.reshape(-1,nalbum_id)
            
            user_idx = 0
            
            for temp_pred in pred_mat:
                #b = tf.argsort(temp_pred, axis=-1,direction='DESCENDING',stable=False,name=None)
                #c = tf.keras.backend.eval(b)[:topk]
                temp_topk = np.argsort(temp_pred)[::-1][:topk]
                temp_score = temp_pred[temp_topk]   
                temp_df = np.column_stack((np.full(topk, batch_u[user_idx]),temp_topk, temp_score))
                
                
                fmt = ','.join(['%i','%i','%1.5f'])
                fmt = '\n'.join([fmt]*temp_df.shape[0])
                data = fmt % tuple(temp_df.ravel())      
                out_file.write(data)
                #np.savetxt(out_file, temp_df, delimiter=',', fmt=['%i','%i','%1.5f'])

                user_idx += 1
            
            pbar.update(1)

100%|██████████| 4999/4999 [39:17<00:00,  2.12it/s]

In [23]:
len(temp_batch_sa)

1862805

In [21]:
temp_batch_sa

array([1579498, 1579498, 1579498, ..., 1579660, 1579660, 1579660])

In [24]:
len(temp_batch_album)

1862805

In [22]:
temp_batch_album

array([    0,     1,     2, ..., 11889, 11890, 11891])

In [26]:
with open('../../model/said_albumid_onlineNegative/case1_re2/100_epochs_01_negative/rec_list/rec.csv','a') as out_file:
    with tqdm.tqdm(total=math.ceil(nsa_id/300)) as pbar:
        for batch_u in batch_user(nsa_id, 300):
            temp_batch_sa = np.repeat(batch_u, nalbum_id)
            temp_batch_album = np.tile(album_array, len(batch_u))
            
            temp_batch_input = {'sa_id' : temp_batch_sa, 'album_id' : temp_batch_album}
            
            #pred = model.predict_on_batch(temp_batch_input)
#             pred = model(temp_batch_input).numpy()
            pred = model([temp_batch_sa, temp_batch_album]).numpy()
            pred_mat = pred.reshape(-1,nalbum_id)
            
            user_idx = 0
            
            for temp_pred in pred_mat:
                #b = tf.argsort(temp_pred, axis=-1,direction='DESCENDING',stable=False,name=None)
                #c = tf.keras.backend.eval(b)[:topk]
                temp_topk = np.argsort(temp_pred)[::-1][:topk]
                temp_score = temp_pred[temp_topk]   
                temp_df = np.column_stack((np.full(topk, batch_u[user_idx]),temp_topk, temp_score))
                
                
                fmt = ','.join(['%i','%i','%1.5f'])
                fmt = '\n'.join([fmt]*temp_df.shape[0])
                data = fmt % tuple(temp_df.ravel())      
                out_file.write(data)
                #np.savetxt(out_file, temp_df, delimiter=',', fmt=['%i','%i','%1.5f'])

                user_idx += 1
            
            pbar.update(1)

100%|██████████| 4999/4999 [39:20<00:00,  2.12it/s]